<div ng-include="'components/adminNavbar/adminNavbar.html'"></div>
<div class="container">
  <p>
      This is the area where we info about a particular practice and edit and whatnot!
  </p>
    <pre> {{ output(practice) }}</pre>

    <h1> General Info</h1>
    <form class="form" name="formGeneral" ng-submit="submitGeneral(formGeneral)" novalidate>
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="practice.name" required/>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
                A name is required
            </p>
            <label>Active</label>
            <input type="checkbox" name="active" class="form-control" ng-model="practice.active"/>
        </div>

        <div>
            <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Make Changes
            </button>
        </div>
    </form>
    <hr />
    <h1> Users </h1>
    <form class="form" name="formUser" ng-submit="submitUser(formUser)" novalidate>
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="practice.user[0].name" required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
        </p>
        <div>
            <button class="btn btn-inverse btn-lg btn-login" type="submit">
                Make Changes
            </button>
        </div>
    </form>

    <h1> Facilities </h1>
    <ul>
        <li ng-repeat="facility in practice.facility">
            <form class="form" name="formFacility" ng-submit="submitFacility(formFacility, $index)" novalidate>
                <label>Name</label>
                <input type="text" name="name" class="form-control" ng-model="practice.facility[$index].name" required/>
                <p class="help-block" ng-show="form.name.$error.required && submitted">
                    A name is required
                </p>
                <h2> Address </h2>

                <label>Number</label>
                <input type="text" name="name" class="form-control" ng-model="practice.facility[$index].contact.address.number" required/>
                <p class="help-block" ng-show="form.name.$error.required && submitted">
                    A Address Number is required
                </p>

                <label>Direction</label>
                <input type="text" name="name" class="form-control" ng-model="practice.facility[$index].contact.address.direction"/>

                <label>Street</label>
                <input type="text" name="name" class="form-control" ng-model="practice.facility[$index].contact.address.street" required/>
                <p class="help-block" ng-show="form.name.$error.required && submitted">
                    A Address Street is required
                </p>

                <label>Zip</label>
                <input type="text" name="name" class="form-control" ng-model="practice.facility[$index].contact.address.zip5" required/>
                <p class="help-block" ng-show="form.name.$error.required && submitted">
                    A Address Zip is required
                </p>

                <label>Country</label>
                <input type="text" name="name" class="form-control" ng-model="practice.facility[$index].contact.address.country" required/>
                <p class="help-block" ng-show="form.name.$error.required && submitted">
                    A Address Country is required
                </p>

                <h2> Contact </h2>
                <label>Can Email</label>
                <input type="checkbox" name="active" class="form-control" ng-model="practice.facility[$index].contact.canEmail"/>

                <label>Can SMS</label>
                <input type="checkbox" name="active" class="form-control" ng-model="practice.facility[$index].contact.canSMS"/>

                <label>Can Voice</label>
                <input type="checkbox" name="active" class="form-control" ng-model="practice.facility[$index].contact.canVoice"/>


                <label>Email</label>
                <input type="text" name="name" class="form-control" ng-model="practice.facility[$index].contact.email" required/>
                <p class="help-block" ng-show="form.name.$error.required && submitted">
                    A Contact Email is required
                </p>



                <div>
                    <button class="btn btn-inverse btn-lg btn-login" type="submit">
                        Make Changes
                    </button>
                </div>
            </form>

            <h3> Contact Phones </h3>

            <h2> Hours </h2> <a href="" ng-click="facility.hours.push({})"> + </a>
            <ul>
                <li ng-repeat="hour in practice.facility[$index].hours">
                    <form class="form" name="formFacilityHours" ng-submit="submitFacilityHours(formFacilityHours, $index)" novalidate>
                        <label>Day</label>
                        <input type="text" name="name" class="form-control" ng-model="facility.hours[$index].day" required/>
                        <p class="help-block" ng-show="form.name.$error.required && submitted">
                            A Day is required
                        </p>
                        <label>Start</label>
                        <input type="text" name="name" class="form-control" ng-model="facility.hours[$index].start" required/>
                        <p class="help-block" ng-show="form.name.$error.required && submitted">
                            A start time is required
                        </p>
                        <label>End</label>
                        <input type="text" name="name" class="form-control" ng-model="facility.hours[$index].end" required/>
                        <p class="help-block" ng-show="form.name.$error.required && submitted">
                            An end time is required
                        </p>
                        <div>
                            <button class="btn btn-inverse btn-lg btn-login" type="submit">
                                Make Changes
                            </button>
                            <a href="#" class="btn btn-inverse btn-lg btn-login" ng-click="deleteHours($index)">
                                Delete
                            </a>
                        </div>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</div>
